@model IEnumerable<NieGumex.Models.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FactureName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FactureName)
        </td>
        
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.FactureID }, new { @class = "btn btn-lg btn-success" })             
            @Html.ActionLink("Szczegoly", "Details", new { id = item.FactureID }, new { @class = "btn btn-lg btn-success" })            
            @Html.ActionLink("Usuń", "Delete", new { id=item.FactureID }, new { @class = "btn btn-lg btn-success" })
            @Html.ActionLink("EDIFACT", "Edifact", new { id = item.FactureID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>

   
</body>
