@using NieGumex.ViewModels

@{
    ViewBag.Title = "Cart";
    
}

<h2>Cart</h2>

@{
    var Products = (List<ProductsVm>)Session["Koszyk"];
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa")
        </th>
        <th>
            @Html.DisplayName("Cena")
        </th>
        <th>
            @Html.DisplayName("Liczba Zakupionych Kompletów")
        </th>
        <th>
            @Html.DisplayName("Cena")
        </th>
    </tr>
   
    @foreach (var product in Products)
    {
        var totalproduktow = 0.0m;
        totalproduktow = product.Cena * product.WantIt;
        <tr>
            <td>
                @Html.DisplayFor(m => product.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(m => product.Cena)
            </td>
            <td>
                @Html.DisplayFor(m => product.WantIt)
            </td>
            <td>
        @Html.DisplayFor(m => totalproduktow)
    </td>
        </tr>
    }
</table>

@{
    var total = 0.0m;
    foreach (var item in Products)
    {
        total += item.WantIt*item.Cena;
    }
    ViewBag.CenaOpon = total;
}
<table>
    <tr>
        <th style="color:red">W sumie: </th>
        <td>@total zł</td>
    </tr>

</table>

@{if (total != 0.0m)
    {
    <input class="btn btn-default" value="Potwierdz" onclick="location.href='@Url.Action("Create", "Factures")'" />
        
    }
    else
    {
        <table>
            <tr style="color:red">Brak produktów do zamowienia</tr>
        </table>
    }

}



